* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
} 
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
body {
  font-family: Cairo , system-ui;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  height: 2px;
  width: 80px;
  bottom: -15px;
}
.sidebar > h3::after {
  bottom: -24px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.sidebar > h3::before ,
.sidebar > h3::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  background-color: #000;
  left: 50%;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
/* Start Content */
.content {
  overflow: hidden;
}
.head {
  min-height: 60px;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}
.head .search input {
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .search input::placeholder {
  font-family: Cairo , Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 10px;
}
.head .icons .notification::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons .fa-bell {
  cursor: pointer;
}
.head .icons .fa-bell:hover {
  color: var(--blue-color);   
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin: 0 15px; 
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before ,
.page h1::after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: #fff;
  width: 120px;
}
.page h1::after {
  background-color:black;
  width: 40px;
}
.page h1:hover::after {
  transition: 0.2s;
  width: 80px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(400px , 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;   
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;  
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
  padding: 2px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto; 
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
/* Start Quick Draft */
.quick-draft textarea {
  resize: vertical;
  min-height: 180px;
  max-height: 295px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* Start Targets */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  font-size: 13px;
  right: -16px;
  padding: 2px 5px;
}
.targets .details .progress > span span::after {
  content: '';
  position: absolute;
  border: solid transparent 5px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.blue .icon ,
.blue .progress {
  background-color: rgb(0 117 255 / 0.2);
}
.orange .icon ,
.orange .progress {
  background-color: rgb(245 158 11 / 0.2);
}
.green .icon ,
.green .progress {
  background-color: rgb(34 197 94 / 0.2);
}
/* Start Stats */
.tickets .box {
  border: 1px solid #ccc;
}
/* Start Latest News */
.latest-news .news-row:not(:last-of-type){
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px;
}
.latest-news .info {
  flex-grow: 1;
}
.latest-news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info {
  flex-grow: 1;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3 ,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .delete:hover {
  transition: 0.3s;
  cursor: pointer;
  color: var(--red-color);
}
/* Start Upload */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  height: 40px;
  width: 40px;
  margin: 15px;
}
.latest-uploads ul li span:first-of-type {
  margin: 0 8px;
}
.latest-uploads ul li span:last-of-type {
  margin: 0 8px 3px 0;
}
/* Start Last project */
.last-project ul::before {
  content: '';
  position: absolute;
  left: 10px;
  width: 2px;
  height: 93%;
  background-color: var(--blue-color);
  margin-top: 2px;
}
.last-project ul li::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;  
  z-index: 1;
}
.last-project ul li.done::before {
  content: '';
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  content: '';
  animation: change-color 0.8s alternate infinite;
}
.last-project img {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
/* Start Reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .bl-ue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* Start Post */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
  font-weight: 500;
}
.latest-post .post-stats i.heart:hover {
  color: var(--red-color);
  transition: 0.5s;
  transform: scale(1.1);
}
.latest-post .post-stats i.comment:hover {
  color: var(--blue-color);
  transition: 0.5s;
  transform: scale(1.1);
}
/* Start Social Media */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .box span:first-of-type {
  font-size: 17px;
  font-weight: 600;
}
.social-media .twitter {
  color: #1da1f2;
}
.social-media .insta {
  color: rgb(211, 17, 98);
}
.social-media .youtube {
  color: #ff0000;
}
.social-media .linkedin {
  color: #0077b5;
}
.social-media .a-follow:first-child {
  background-color: #1da1f2;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.social-media .a-follow-2 {
  background-color: rgb(211, 17, 98);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.social-media .a-follow:last-child {
  background-color: var(--blue-color);
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.social-media .subs {
  background-color: var(--red-color);
  color: #fff;
}
/* Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 800px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
  transition: 0.3s;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2p;
  background-color: #fff;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* Start Settings */
.toggle-checkbox {
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #CCC;
  width: 68px;
  height: 32px;
  position: relative;
  border-radius: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  color: #aaa;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 40px;
  color: var(--blue-color);
  content: "\f00c";
}
.settings-page :disabled {
  cursor: none;
  background-color: #f0f4f8;
  color: #bbb;
}
.settings-page {
  grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
}
.settings-page .close-message {
  border: 1px solid #ccc;
  min-height: 170px;
  max-height: 250px;
}
.settings-page #email {
  display: inline-flex;
  width: calc(100% - 80px);
  margin-right: 10px;
}
.settings-page .sec-box {
  padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .sec-box .button {
  transition: 0.3s;
}
.settings-page .sec-box a.btn-1:hover {
  background-color: var(--blue-alt-color);
}
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes input::placeholder {
  font-family: Cairo , system-ui, BlinkMacSystemFont, 'Segoe UI';
  font-weight: 600;
  letter-spacing: 0.5px;
}
.settings-page .social-boxes > div:focus-within i {
  color: #000;
}
.settings-page .bloe {
  color: #12c50f;
  font-weight: 600;
}
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid var(--grey-color);
  margin-top: -9px;
}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00c";
  margin-top: -9px;
  background-color: var(--blue-color);
  color: #fff;
  font-size: 11px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control label::before , 
.widgets-control .control label::after {
  position: absolute;  
  left: 0;
  top: 50%;
  border-radius: 3px;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.backup-control .date label {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
}
.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* Profile */
.profile-page .avatar-box {
  width: 300px;
  border-right: 1px solid #eee;
  text-align: center;
  padding: 20px;
}
.profile-page .avatar-box > img {
  width: 100px;
  height: 100px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  /* max-height: 135px; */
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  padding: 0;
  min-width: 250px;
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0 ;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activities .activity:not(:last-of-type) {
  border: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
/* Projects */
.projects-page {
  grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.profile-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projects-page .project .team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  transition: 0.3s;
  bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 999;
  transform: scale(1.1);
}
.projects-page .project .do {
  justify-content: flex-end;
  padding-top: 15px;
  border-top: 1px solid #eee;
  margin-top: 15px;
}
.projects-page .project .info {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}
.projects-page .project .prog {
  height: 8px;
  width: 260px;
  position: relative;
  border-radius: 6px;
}
.projects-page .project .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
  background-color: var(--blue-color);
}
/* Start Courses */
.courses-page {
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
  min-width: 100%;
  transition: 0.3s;
}
.courses-page .course .instructor {
  position: absolute;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  top: 20px;
  transition: 0.3s;
  left: 20px;
  border: 2px solid white;
}
.courses-page .course .instructor:hover {
  transform: scale(1.1);
}
.courses-page .course .info {
  border-top: 1px solid #eee;
  font-size: 13px;
}
.courses-page .course .info .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17px;
  height: 31px;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-page .course .description {
  line-height: 1.8;
}
.courses-page .course .info span.price {
  padding: 10px;
  font-size: 14px;
}
/* Start Friends */
.friends-page {
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
.friends-page .contact {
  position: absolute;
  left: 10px;
  top: 10px;
}
.friends-page .contact i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
}
.friends-page .contact i:hover {
  background-color: var(--blue-color);
  color: #fff;
}
.friends-page .contact .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.friends-page .contact .icons i {
  margin-right: 5px;
}
.friends-page .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  opacity: 0.3;
}
.friends-page .span-hover:hover {
  background-color: var(--blue-alt-color);
}
.friends-page .span-hover-2:hover {
  background-color: var(--red-color);
}
/* Start Files */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 40px;
  margin-right: 10px;
  background-color: #eee;
}
.files-page .files-stats .info > span {
  font-weight: 600;
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .upload {
  margin: 15px auto 0;
  transition: 0.3s;
  padding: 10px 16px;
}
.files-page .files-stats .upload:hover {
  background-color: #0c70e1;
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill , minmax(150px, 1fr))
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}
/* Start Plans */
.plans-page {
  grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
}
.plans-page .plan .top {
  border: 3px solid #fff;
  outline: 3px solid transparent;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.red .top {
  outline-color: var(--red-color);
}
.plans-page .plan.bl-ue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 25px;
}
.plans-page .plan ul li {
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes , .help) {
  color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 10px;
}
.plans-page .plan ul li .help {
  color: var(--grey-color);
  cursor: pointer;
  margin-left: auto;
}
/* Animations */
@keyframes go-up {
  0% , 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: #fff;
  }
}
/*  */